[mysqld]
general_log = 1
general_log_file = /var/lib/mysql/general.log
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
innodb_buffer_pool_size = 256M
max_allowed_packet = 64M
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/slow.log
long_query_time = 2
