@import "tailwindcss";

/* Postavlja dark varijantu da zavisi od 'dark' klase na <html> tagu */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    html {
        color-scheme: light;
    }

    html.dark {
        color-scheme: dark;
    }

    @media (max-width: 639px) {
        input:not([type="checkbox"]):not([type="radio"]),
        select,
        textarea {
            font-size: 16px;
        }
    }
}